

*{
    margin: 0;
    box-sizing: none;
}
body{
    background-color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.main{
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
    width: 40%;
    border-radius: 83px;
    background: #e0e0e0;
    box-shadow:  31px 31px 63px #d0d0d0,
             -31px -31px 63px #f0f0f0;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    border: none;
    background-color: transparent;
}

.music-photo{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba(107, 209, 149, 0.37);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border-radius: 30px;
}

.music-photo img{
    object-fit: cover;
    image-rendering: auto;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.buttons svg:hover:nth-child(1),svg:hover:nth-child(2), svg:hover:nth-child(3) {
    stroke: rgb(0, 185, 77);
}

.buttons svg:focus:nth-child(4) {
    stroke: rgb(0, 185, 77);
}

.play-music{
    display: block;
}

.pause-music{
    display: none;
}

.drop-up{
    display: none;
    transform: rotate(-90deg);
    background-color: #f0f0f0;
    border-radius: 5px;
    position: absolute;
    height: 1.80rem;
    padding: 0px 5px;
}

#volume-bar{
    -webkit-appearance: none;
    outline: none;
    background: rgb(0, 185, 77);
    border-radius: 15px;
    height: 0.5rem;
}

#volume-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50px;
    background: rgb(2, 121, 51);
}

.bar{
    -webkit-appearance: none;
    outline: none;
    background: rgb(0, 185, 77);
    border-radius: 15px;
    height: 0.5rem;
}

.bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50px;
    background: rgb(2, 121, 51);
}

.volume-icon{
    margin-top: 0.4rem;
}

.timer{
    display: flex;
    justify-content: space-around;

}